.App {
  display: flex;
}

.btns {
  /* position: fixed; */
  display: flex;
  align-items: center;
  bottom: 10px;
  justify-content: center;
  width: 100%;
}

.meslayout {
  overflow-y: auto;
  /* background-color: blue; */
  height: 500px;
  margin-bottom: 5px;
}